
body {
	background-image:
		url("https://img.shoplineapp.com/media/image_clips/5de0c86ab2a841002798618a/original.png?1575012457");
}

.head {
	display: flex;
	justufy-content: center;
}

.canvasBox {
	display: flex;
	justufy-content: center;
}

.footer {
	display: flex;
	justufy-content: center;
}
#mybutton {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 19px 66px;
    border: 0px solid #ff3950;
    border-radius: 21px;
    background: #ff4a68;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff4a68), to(#ff3950));
    background: -moz-linear-gradient(top, #ff4a68, #ff3950);
    background: linear-gradient(to bottom, #ff4a68, #ff3950);
    -webkit-box-shadow: #ff4460 0px 0px 0px 0px;
    -moz-box-shadow: #ff4460 0px 0px 0px 0px;
    box-shadow: #ff4460 0px 0px 0px 0px;
    text-shadow: #ff3950 1px 1px 1px;
    font: normal normal bold 13px arial;
    color: #ffffff;
    text-decoration: none;
    }
	
.notice{margin top:20px auto;fontcolor: white;width:100px;height: 100px;background-color:aqua;}

.snow-container {
  position: absolute;
  height: 750px;
  width: 100%;
  max-width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}

.snow {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-animation: snow linear infinite;
          animation: snow linear infinite;
   
}
.snow.foreground {
  background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}
.snow.foreground.layered {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}
.snow.middleground {
  background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png);
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}
.snow.middleground.layered {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.snow.background {
  background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png);
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}
.snow.background.layered {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

@-webkit-keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
            transform: translate3d(15%, 100%, 0);
  }
}

@keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(10%, 100%, 0);
            transform: translate3d(10%, 100%, 0);
  }
}